//colors
$font-color: #edf2f4;
$font-accent-color: #4361ee;
$bg-color: #caf0f8aa;
$bg-accent-color: #2b2d42;

//font sizes
$xx-large: 3.65rem;
$x-large: 2.75rem;
$large: 2rem;
$medium: 1.5rem;
$regular: 1.15rem;
$small: 0.75rem;

//Screen sizes

$screen-mobile-s: 320px;
$screen-mobile-l: 450px;

$screen-tablet-s: 460px;
$screen-tablet-l: 780px;
